{% extends "layouts/main.twig" %}
{% set title = 'Мои заказы' %}
{% block content %}
    <table class="order">
        <tr style="background-color: lightgrey"><th>Данные о получателе </th><th>Статус заказа</th> <th> ЗАКАЗ </th></tr>
        <div>

{#            {% for user in users %}#}
            {% set Total = 0%}
            <tr><td>
                    <p>{{ users.nameUser}}</p> <br>
                    <p>{{ users.lastName }}</p> <br>
                    <p>{{ users.telephone }}</p> <br>
                    <p>{{ users.email }}</p> <br>
                    <p>{{ users.adress }}</p></td>
                <td><p>{{ users.status }}</p></td>
                <td>
                    <table class="orderGoods" style="width: 1100px">
                        <tr><th></th><th>Имя товара</th><th>цена товара</th><th>Валюта</th><th>количество товара</th><th>итог</th></tr>
                        {% for order in orders %}
                            <tr><td><img src="/gallery/{{ order.url_img}}" alt="{{ order.name }}" style="width:190px; height:150px;"></td>
                                <td>{{ order.name}}</td>
                                <td> {{ order.prise}}</td>
                                <td>{{ order.currency}}</td>
                                <td>{{ order.count}}</td>
                                <td>{{ order.prise * order.count }}</td></tr>
                            {% set Total = Total + (order.prise * order.count) %}
                        {% endfor %}
                        <tr><td></td><td></td><td></td><td></td><td></td>
                            <td style="background-color: slategrey;color:white; font-size: 20px"><p>Итого: {{ Total }} $</p></td></tr></table> <hr><hr> <br><br>
{#                    {% endfor %}#}
        </div>
    </table>

{% endblock %}